/*Стили для header.php*/

.head {
	position : fixed;
	width    : calc(100% - 15px);
	top      : 5px;
}
.logotip {
	float      : left;
	margin-top : 5px;
}
#logotip {
	width  : 300px;
	height : 100px;
}
.top-right {
	float   : right;
	display : inline-block;
}
.link li {
	margin  : 5px;
	display : inline-block;
}
a:hover {
	color : #000000 !important;
}
a:visited {
	color : #D3D3D3;
}
.search-form {
	float : right;
}
.search-button {
	margin-left : -5px;
}

/*Стили для index.php*/

.post-form {
	width  : 400px;
	margin : 130px auto 0;
}
.avatarka {
	float : left;
}
#avatarka {
	width  : 40px;
	height : 40px;
	border : solid grey 1px;
}
.username-last-seen-block {
	margin-left : 55px;
}
.username {
	font-family : Georgia;
	font-size   : 150%;
}
.time_last_seen {
	font-size : 75%;
	color     : grey;
}
#photo {
	width      : 400px;
	height     : 250px;
	border     : solid grey 1px;
	margin-top : 5px;
}
#heart {
	width  : 40px;
	height : 40px;
}
.like {
	font-family : Calibry;
	font-size   : 200%;
	margin-top  : -40px;
	margin-left : 50px;
}
.hashtag {
	margin : 5px;
}

/*Стили для pechalko.php*/
.post-pechalko {
	width  : 400px;
	margin : 130px auto 0;
}
.text-pechalko {
	font-size: 250%;

}
#image-pechalko {
	width : 100%;
}

/*Стили для add_post.php*/

.add-post {
	width  : 400px;
	margin : 130px auto 0;
}
.username-add-post {
	width       : 228px;
	margin-left : 57px;
}
.add-photo-button input[type="file"] {
	display : none;
}
.add-photo-button-visiable {
	width        : 231px;
	display      : inline-block;
	border       : solid grey 1px;
	margin-right : 2px;
	margin-top   : 1px;
}
.add-photo-comment {
	width  : 228px;
}
.button-add-new-post {
	height: 30px;
	width: 395px;
	border: solid grey 1px;
	background-color: limegreen;
	text-align: center;
}